<!DOCTYPE html>
<html>
<head>
    <title>Cinta PPW</title>
    <style>
        body {
          background-image: url('https://unblast.com/wp-content/uploads/2020/05/Light-Wood-Background-Texture-1.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: cover;

          
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <h1> Hi, there! </h1>
    <h2> Welcome To My Page :)</h2>
    <a href="https://ibb.co/4jJMhGp"><img src="https://i.ibb.co/K9m7TkW/Foto-Didan-1.jpg" alt="Foto-Didan-1" width="130" height="140"></a>
    <h2> Description :</h2>
    <table style="width:60%">
        <p><strong>A person who likes listening to piano songs and ballads!</strong></p>
        <tr>
            <td><strong>Lala</strong></td>
            <td><b>Dzaky Zaydan</b></td>
        </tr>
        <tr>
            <td><strong>NPM :</strong></td>
            <td><b>1906304181</b></td>
        </tr>
        <tr>
            <td><strong>Major :</strong></td>
            <td><b>Information System</b></td>
        </tr>
        <tr>
            <td><strong>Student of  :</strong></td>
            <td><b>Fasilkom UI - 2019 <a rel="noopener noreferrer" href="https://maung.id/dzaky.zaydan" target="_blank">(Maung)</b></a></td>
        </tr>
        <tr>
            <td><strong>Hobby   :</strong></td>
            <td><b>Drawing and Sports</b></a></td>
        </tr>
    </table>
    <h2> Education :</h2>
    <table style="width:30%">
        <tr>
            <td><strong>SDS Kartika X-7</strong></td>
            <td><b>2007 - 2013</b></td>
        </tr>
        <tr>
            <td><strong>SMP Negeri 117 Jakarta</strong></td>
            <td><b>2013 - 2016</b></td>
        </tr>
        <tr>
            <td><strong>SMA Negeri 61 Jakarta </strong></td>
            <td><b>2016 - 2019</b></td>
        </tr>
        <tr>
            <td><strong>University of Indonesia</strong></td>
            <td><b>2019 - present</b></i></td>
        </tr>
    </table>

    <h2>Check this out :</h2>
    <a rel="noopener noreferrer" href="https://www.linkedin.com/in/dzaky-zaydan-49bb681a2/" target="_blank">
    <img src="https://www.iconfinder.com/data/icons/social-round-corner/512/linkdin__social_media_logo-512.png" width="50" height="50" hspace="10">
    </a>
    <a rel="noopener noreferrer" href="https://www.facebook.com/dzaky.zaydan" target="_blank">
    <img src="https://www.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-02-512.png" width="50" height="50" hspace="10">
    </a>
    <a rel="noopener noreferrer" href="https://twitter.com/Dzaky_DZ" target="_blank">
    <img src="https://www.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-03-512.png" width="50" height="50" hspace="10">
    </a>
    <a rel="noopener noreferrer" href="https://www.instagram.com/dzakyzaydan/" target="_blank">
    <img src="https://www.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-512.png" width="50" height="50" hspace="10">
    </a>
</body>
</html>