<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>about.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
    {% include 'navbar.html' %}
    <br>
    <br>
    
    <div class="column">
    <div>
        <img src="{% static 'fotodidan.jpg' %}" height ="300">
    </div>
    </div>
    
    <div class="center2">
        <table style="width:70%">  
            <tr>
                <td><strong>Name :</strong></td>
                <td><b>Dzaky Zaydan</b></td>
            </tr>
            <tr>
                <td><strong>NPM :</strong></td>
                <td><b>1906304181</b></td>
            </tr>
            <tr>
                <td><strong>Major :</strong></td>
                <td><b>Information System</b></td>
            </tr>
            <tr>
                <td><strong>Student of  :</strong></td>
                <td><b>Fasilkom UI - 2019 </b></a></td>
            </tr>
            <tr>
                <td><strong>Hobby   :</strong></td>
                <td><b>Drawing and Sports</b></a></td>
            </tr>
        </table>
        <br>
        <br>
        <table style="width:70%">
            <tr>
                <td><strong>SDS Kartika X-7</strong></td>
                <td><b>2007 - 2013</b></td>
            </tr>
            <tr>
                <td><strong>SMP Negeri 117 Jakarta</strong></td>
                <td><b>2013 - 2016</b></td>
            </tr>
            <tr>
                <td><strong>SMA Negeri 61 Jakarta </strong></td>
                <td><b>2016 - 2019</b></td>
            </tr>
            <tr>
                <td><strong>University of Indonesia</strong></td>
                <td><b>2019 - present</b></i></td>
            </tr>
        </table>
    </div>

    <div class="center">
        <h2>A person who likes listening to piano songs and ballads!</h2>
    </div>

    <div class="footer">
        <p>Copyright @ 2020 Dzaky</p>
      </div>
</body>
</html>